@tailwind base;
@tailwind components;
@tailwind utilities;
.react-flow .react-flow__handle {
  width: 150px;
  height: 14px;
  border-radius: 3px;
  background-color: #20b2aa;
}
.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}
.CustomEdge {
  fill: none; /* фоновый цвет */
  stroke: #20b2aa; /* цвет линии */
  stroke-width: 2; /* ширина линии */
}
#label {
  color: var(--tg-theme-text-color)
}
/*
.react-flow .react-flow__handle {
  width: 30px;
  height: 14px;
  border-radius: 3px;
  background-color: #784be8;
}

.react-flow .react-flow__handle-top {
  top: -10px;
}

.react-flow .react-flow__handle-bottom {
  bottom: -10px;
}

.react-flow .react-flow__node {
  border: medium dashed green;
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  font-weight: 700;
}



.wrapper {
  flex-grow: 1;
  height: 100%;
}*/
